### Strings

In [1]:
"Hola mundo"

'Hola mundo'

In [2]:
'Hola mundo'

'Hola mundo'

In [4]:
print('''Hola a todos 
lineas
multilineas''')

Hola a todos
lineas
multilineas

In [6]:
print("Hola\nmundo")

Hola
mundo

##### Metodo format
Cuando queremos construir strings a partir de otra inforamción

In [11]:
age = 20
name = "Juan"

print("{0} tenía {1} años cuando yo escribí ese libro" .format(name,age) )
print("El alumno {0} pertenece al curso" .format(name) )

Juan tenía 20 años cuando yo escribí ese libro
El alumno Juan pertenece al curso

In [16]:
name + " tenía " + str(age) + " años cuando yo escribí ese libro"

'Juan tenía 20 años cuando yo escribí ese libro'

In [17]:
print("{} tenía {} años cuando yo escribí ese libro" .format(name,age) )
print("El alumno {} pertenece al curso" .format(name) )

Juan tenía 20 años cuando yo escribí ese libro
El alumno Juan pertenece al curso

In [23]:
#decimal (.) precision of 3 for float '0.333'
print('{0:.3f}'.format(1.0/3))
# fill with the underscores(_) with the text centered
# (^) to 11 to width '___hello___'
print('{0:_^11}' .format('hello'))
#keyword 
print('{name2} tiene {age2} años' .format(name2 = 'Julio',age2 = '23' ))

0.333
___hello___
Julio tiene 23 años

In [20]:
1.0/3

0.3333333333333333

In [24]:
_A_= 2

In [25]:
_A_

2

In [26]:
i = \
4

In [27]:
i

4

In [29]:
a = 10
 print(a)

10